<footer class="site-footer">
  <img src="/assets/images/fh-logo.svg" alt="" class="footer-logo">
  <div class="footer-links">
    <a href="https://twitter.com/freddiewrites">Twitter</a>
    <span class="footer-sep">·</span>
    <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#102;&#114;&#101;&#100;&#100;&#105;&#101;&#64;&#102;&#114;&#101;&#100;&#100;&#105;&#101;&#119;&#114;&#105;&#116;&#46;&#101;&#115;">Email</a>
    <span class="footer-sep">·</span>
    <a href="/feed.json">Feed</a>
  </div>
</footer>
