/* Self-hosted Source Serif 4 and Source Sans 3 (Adobe, SIL Open Font License).
   Subset to Latin and renamed per the license; see assets/fonts/README.md. */
@font-face {
  font-family: "FH Serif";
  src: url("/assets/fonts/fh-serif-roman.woff2") format("woff2");
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FH Serif";
  src: url("/assets/fonts/fh-serif-italic.woff2") format("woff2");
  font-weight: 200 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "FH Sans";
  src: url("/assets/fonts/fh-sans-roman.woff2") format("woff2");
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}
