.hero {
  position: relative;
  max-width: 835px;
  padding: 25vh 0 10vh;
  overflow: hidden;
  @include media('>=tablet') {
    padding: 10rem 0;
  }
  @include media('>=desktop') {
    padding: 15.875rem 0;
  }
  &--internal {
    padding: 8rem 0 4rem;
  }
  h1 {
    margin-bottom: 0;
  }
}

.wrapper {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 1.5rem;
  &.primary-content {
    padding: 6rem 1rem;
  }
}

.section-header {
  position: relative;
  margin: 45px 0;
  &::after {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
    width: 100%;
    height: 1px;
    background-color: #281C28;
    content: "";
    opacity: .1;
  }
  h3 {
    position: relative;
    z-index: 10;
    display: inline-block;
    padding-right: 25px;
    margin-bottom: 0;
    background-color: #FDFDFD;
    @include media('>=desktop') {
      padding-right: 50px;
    }
  }
}


/**
 * Page content
 */
.page-content {
  flex: 1;
  padding-top: 80px;
  @include media('>=tablet') {
    padding-top: 0;
  }
}

.post-list {
  margin: 6rem 0;
  list-style: none;
  @include media('>=tablet') {
    margin: 10rem 0;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: inline-block;
}

.post-item {
  margin-bottom: 3rem;
  @include media('>=tablet') {
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
  }
  &__meta {
    box-sizing: border-box;
    width: 100%;
    padding: 3rem 0 0;
    border-top: 1px solid fade-out(#281C28, .9);
    @include media('>=tablet') {
      width: 175px;
      padding: 8px 48px 8px 0;
      margin-bottom: 16px;
      text-align: right;
      border-top: 0;
    }
  }
  &__title {
    flex: 1;
    max-width: 600px;
    padding: 8px 0;
    margin-bottom: 16px;
    @include media('>=tablet') {
      padding: 8px 0 8px 48px;
      border-left: 1px solid fade-out(#281C28, .9);
    }
  }
  &__date {
    display: inline-block;
    margin-bottom: 8px;
    @include media('>=tablet') {
      display: block;
    }
  }
  &__reading-time {
    display: inline-block;
    margin-left: 8px;
    opacity: .5;
    @include media('>=tablet') {
      display: block;
      margin-left: 0;
    }
  }
  p {
    margin-bottom: 0;
    opacity: .5
  }
}


.cv-list {
  padding: 0;
  margin: 0 0 32px 0;
  list-style-type: none;
}

.cv-item {
  em {
    display: block;
    margin-right: 3rem;
    font-size: 16px;
    font-style: normal;
    color: $grey-color;
    @include media('>=tablet') {
      display: inline;
    }
  }
}
