.page-title {
	margin: 3.5rem 0;
	@include media('>=tablet') {
		margin: 5.5rem 0;
	}
}
.page-content-alt {
	margin: 3.5rem 0;
	@include media('>=tablet') {
		margin: 5.5rem 0;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	p,
	hr {
		max-width: 700px;
	}
	img {
		width: 100%;
	}
}

.freddie-bust {
	position: relative;
	width: 200px;
	height: 200px;
	margin: 0 0 3rem;
	@include media('>=tablet') {
		height: 0;
		transform: translate(450px, -210px);
	}
	@include media('>=desktop') {
		width: 250px;
		margin: 3rem 0 0 0;
		transform: translateX(calc(700px + 4rem));
	}
	img {
		width: 100%;
		height: auto;
		margin-bottom: 8px;
	}
	&__caption {
		font-size: 10px;
	}
}
