@font-face {
  font-family: 'UntitledSans';
  src: url('../assets/fonts/untitled-sans-web-regular.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/untitled-sans-web-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/untitled-sans-web-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/untitled-sans-web-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/untitled-sans-web-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/untitled-sans-web-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

h1 {
	font-size: 3rem;
	font-weight: normal;
	line-height: 3.5rem;
	letter-spacing: -0.02em;
	@include media('>=tablet') {
		font-size: 4rem;
		line-height: 4.875rem;
	}
}

h2 {
  	font-size: 2rem;
  	font-weight: normal;
	line-height: 2.5rem;
	@include media('>=tablet') {
		font-size: 2.5rem;
		line-height: 3.375rem;
	}
}

h3 {
	font-size: 1.5rem;
	font-weight: normal;
	line-height: 2rem;
	@include media('>=tablet') {
		font-size: 1.75rem;
		line-height: 2.25rem;
	}
}

h4 {
	font-size: 1.25rem;
	font-weight: normal;
	line-height: 1.8rem;
	@include media('>=tablet') {
		font-size: 1.5rem;
		line-height: 2.25rem;
	}
}

h5 {
	font-size: 1.15rem;
	font-weight: normal;
	line-height: 1.75rem;
	@include media('>=tablet') {
		font-size: 1.25rem;
		line-height: 2rem;
	}
}

p {
	margin-bottom: 3rem;
	font-size: 1.125rem;
	font-weight: normal;
	line-height: 1.5rem;
	@include media('>=tablet') {
		font-size: 1.5rem;
		line-height: 2.25rem;
	}
}

ul, ol {
	margin-bottom: 2rem;
	font-size: 1.125rem;
	line-height: 1.5rem;
  	@include media('>=tablet') {
    	font-size: 1.25rem;
    	line-height: 2rem;
  	}
}

a:not(.no-hover) {
	position: relative;
	z-index: 1;
	color: inherit;
	transition: .35s;
	&:hover {
		color: #FFF;
		text-decoration: none;
		transition: .35s;
		&::after {
			height: 100%;
			transition: .35s;
		}
	}
	&::after {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 1px;
		max-height: 100px;
		background-color: #D4A4D3;
		content: "";
		transition: .35s;
	}
}

hr {
	margin: 48px 0;
	border-top: 0;
	border-color: #281C28;
	opacity: .1;
}

blockquote {
	position: relative;
	max-width: 700px;
	padding: 3rem 0 0 2rem;
	font-size: 1.75rem;
	font-weight: normal;
	line-height: 2.25rem;
	@include media('>=tablet') {
		padding: 3rem 0 0 4rem;
	}
	@include media('>=desktop') {
		width: 250px;
		height: 0;
		padding: 3rem 0 0 0;
		transform: translateX(calc(700px + 4rem));
	}
	p {
		font-size: 1.25rem;
		@include media('>=tablet') {
			font-size: 1.75rem;
		}
	}
	&::after {
		position: absolute;
		top: 0;
		left: 2rem;
		font-size: 4rem;
		color: #D4A4D3;
		content: "“";
		@include media('>=tablet') {
			left: 4rem;
		}
		@include media('>=desktop') {
			left: 0;
		}
	}
	strong {
		font-weight: normal;
	}
}
