---
layout: default
---

<div class="wrapper">

  	<header>
        <h1 class="page-title p-name" itemprop="name headline">
            {{ page.title | escape }}
        </h1>
    </header>

    {%- assign categories = "" | split: ',' %}
    {%- for post in site.posts -%}
    	{%- for category in post.categories -%}
    		{% assign categories = categories | push: category %}
    	{%- endfor -%}
    {%- endfor -%}

    {%- assign categories = categories | uniq  %}

    <div class="select-bar">
    	<div class="select">
    		<select name="category" class="post-control" data-filter-group="category">
    			<option value="*">All Categories</option>
    			{%- for category in categories -%}
      				<option value=".{{ category }}">{{ category | capitalize }}</option>
      			{%- endfor -%}
    		</select>
    	</div>
    </div>

    {%- if site.posts.size > 0 -%}
	<ul class="post-list">
	    {%- for post in site.posts -%}

	    <li class="post-list__item post-item {%- for category in post.categories -%} {{ category | prepend: ' ' }} {%- endfor -%}">
	        <div class="post-item__meta">
	            {%- assign date_format = site.minima.date_format | default: "%-d %b, %Y" -%}
	            <h5 class="post-item__date">
	                {{ post.date | date: date_format }}
	            </h5>
	            {%- assign total_words = post.content | number_of_words -%}
	            {%- assign reading_time = total_words | divided_by: 225 -%}
	            {% if reading_time > 1 %}
	                <h5 class="post-item__reading-time">
	                    {{ reading_time }} minutes
	                </h5>
	            {% else %}
	                <h5 class="post-item__reading-time">
	                    1 minute
	                </h5>
	            {% endif %}
	        </div>
	        <div class="post-item__title">
	            <h2><a class="post-link" href="{{ post.url | relative_url }}">
	            	{{ post.title | escape }}</a>
	            </h2>
	            {%- if site.show_excerpts -%}
	                <p>
	                	{{ post.excerpt | strip_html }}
	                </p>
	            {%- endif -%}
	        </div>
	    </li>
	    {%- endfor -%}
	</ul>
	{%- endif -%}

</div>
